
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}

<main id="main" class="main">

    <div class="center-screen">
        <img src="/Content/img/logo.png" alt="Logo" class="site-logo">
        <h1><strong>CHÀO MỪNG BẠN ĐẾN TRANG KHAI BÁO THÔNG TIN</strong></h1>
    </div><!-- End Page Title -->
</main>

